### Layman Definition of Time  Series--
    whenever a data is collected over a period of Time, that is basically known as Time Series

In [59]:
##!pip install sklearn

In [60]:
##!pip install statsmodels

In [61]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import mean_squared_error

import matplotlib.pylab as plt

In [62]:
### !pip install sklearn

In [63]:
df=pd.read_csv('bitcoin_price_Training.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [64]:
### In this notebook, we will explore closing price and predict it

In [65]:
df.describe()

              Open         High          Low        Close
count  1556.000000  1556.000000  1556.000000  1556.000000
mean    582.625328   597.992847   567.851446   584.239396
std     523.137312   542.992855   505.877401   525.904442
min      68.500000    74.560000    65.530000    68.430000
25%     254.287500   260.327500   248.835000   254.320000
50%     438.600000   447.560000   430.570000   438.855000
75%     662.437500   674.525000   646.735000   663.402500
max    2953.220000  2999.910000  2840.530000  2958.110000

In [66]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

Date is to be in Date-time format inorder to perform a time series analysis but In the current dataset the date is stated as an object which is to be converted in the date time format..

In [67]:
df['Date']=pd.to_datetime(df['Date'])

In [68]:
df.dtypes

Date          datetime64[ns]
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume                object
Market Cap            object
dtype: object

#### Now sort the dataset from oldest - recent

In [69]:
df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,2017-07-31,2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,2017-07-30,2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,2017-07-29,2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,2017-07-28,2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,2017-07-27,2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"

In [70]:
df=df.sort_index()

In [71]:
### make your index as Date as In time series , as all activities are going to happen with respect to time

In [72]:
df.set_index('Date',inplace=True)

In [73]:
df.head()

               Open     High      Low    Close         Volume      Market Cap
Date
2017-07-31  2763.24  2889.62  2720.61  2875.34    860,575,000  45,535,800,000
2017-07-30  2724.39  2758.53  2644.85  2757.18    705,943,000  44,890,700,000
2017-07-29  2807.02  2808.76  2692.80  2726.45    803,746,000  46,246,700,000
2017-07-28  2679.73  2897.45  2679.73  2809.01  1,380,100,000  44,144,400,000
2017-07-27  2538.71  2693.32  2529.34  2671.78    789,104,000  41,816,500,000